INIT_HOST
interfaz "ens33" ip 192.168.100.7 mac "00:0c:29:f7:5c:ae";
END_HOST
INIT_CONNECTIONS
ip 192.168.100.7 puerto 8080 ip 192.168.100.11 puerto 5 state ESTABLISHED;
END_CONNECTIONS
INIT_RULES
-t mangle -P -j ACCEPT;
-t nat -P -j RETURN;
-t filter -P -j DROP;
-t filter -A OUTPUT -s 192.168.100.7 -j ACCEPT;
-t nat -A OUTPUT -p tcp -j ACCEPT;
-t nat -A POSTROUTING -i "ens33" -j ACCEPT;
END_RULES
INIT_PACKAGES
TCP state ESTABLISHED src 192.168.100.7 src-mac "00:0c:29:f7:5c:ae" dst 192.168.100.7 spot 8080 dport 5 ttl 55 Use 1 interfaz "ens33"  ;
ICMP src 192.168.100.7 src-mac "00:0c:29:f7:5c:ae" dst 200.3.123.114 stype 128 scode 1 sid 2 dtype 129 dcode 1 did 2 Use 0 interfaz "ens33";
ICMP src 200.3.123.114 src-mac "ca:fe:29:f7:00:ae" dst 192.168.100.7 stype 129 scode 1 sid 2 dtype 0 dcode 1 did 2 Use 0 interfaz "ens33";
END_PACKAGES